/** Header **/
body, h1, ol{
    margin: 0;
}
.topnav {
    overflow: hidden;
    background-color: red;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* @media only screen and (max-device-width: 375px) and (orientation: portrait) */
.topnav a:hover {
    background-color: white;
    color: grey;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 1100px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.active {
        padding: 24px 0px;
    }
    .topnav a.icon {
        float: right;
        min-width: 20px;
        min-height: 20px;
        padding: 14px 30px;
        display: block;
        cursor: pointer;
    }

    .bar1,.bar2,.bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0px;
        transition: .5s;
    }
}
@media screen and (max-width: 1100px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        margin: inherit;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .bar2 {
        visibility:hidden;
        transition: .2s;
    }
    .topnav.responsive .bar1  {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .topnav.responsive .bar3 {
        -webkit-transform: rotate(-45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
}
#top-header {
    background: url(../assets/p5.jpg)center/cover no-repeat fixed;
    min-height: 35vh;
}
h1, h2, h3, h4, h5, h6 {
    font-size: calc(20px + 2vw);
}

div>img {
    padding: 0 25%;
    margin: 0 auto;
}
.top-header { 
    color: white;
    text-align: center;
    display: unset;
    font-size: 4em;
    padding: 1vh 4vw;
    font-family: Arial;
    text-shadow: -1px 0 rgba(0,0,0,0.5), 0 1px rgba(0,0,0,0.5), 
        1px 0 rgba(0,0,0,0.5), 0 -1px rgba(0,0,0,0.5);
}
h3 {
    color: red;
    padding: 1vh 4vw;
    font-family: Arial;
    text-shadow: 2px 4px grey;
    text-align: center;
}
/** Main **/
.wrapper > .dots{
    margin: 0 auto;
    width: 15%;
}
.fade {
    min-width: 50vh;
}
 img {
    margin: 0 auto;
    width: 50%;
}
footer {
    background-color: red;
    opacity: .85;
    display: block;
    color: white;
    text-align: center;
    padding: 24px 16px;
    font-size: 17px;
}

.pic1,.pic2,.pic3 {
    display: none;
}

.dot1,.dot2,.dot3 {
    text-align: center;
    cursor:pointer;
    height: 1rem;
    width: 1rem;
    margin: 6px 4px;
    background-color: grey;
    border-radius: 100%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
}
.active {
    background-color: red;
}